$primary: rgb(23, 22, 22);

.container {
  min-height: 100vh;
  width: 100%;
  padding: 0 1rem;
  position: relative;
  overflow: hidden;

  .box {
    position: absolute;
    top: -10%;
    left: -10%;
    height: 20vh;
    width: 20vh;
    background-color: $primary;
    border-radius: 50%;
    animation: zoom 3s ease forwards;
    -webkit-animation: zoom 3s ease forwards;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  .inputContainer {
    width: 75%;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border: 1px solid $primary;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }
}

/* Animations */

@keyframes zoom {
  0% {
    transform: scale(40);
    -webkit-transform: scale(40);
    -moz-transform: scale(40);
    -ms-transform: scale(40);
    -o-transform: scale(40);
  }

  100% {
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
  }
}

@-o-keyframes zoom {
  0% {
    transform: scale(40);
    -webkit-transform: scale(40);
    -moz-transform: scale(40);
    -ms-transform: scale(40);
    -o-transform: scale(40);
  }

  100% {
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
  }
}

@-moz-keyframes zoom {
  0% {
    transform: scale(40);
    -webkit-transform: scale(40);
    -moz-transform: scale(40);
    -ms-transform: scale(40);
    -o-transform: scale(40);
  }

  100% {
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
  }
}

@-webkit-keyframes zoom {
  0% {
    transform: scale(40);
    -webkit-transform: scale(40);
    -moz-transform: scale(40);
    -ms-transform: scale(40);
    -o-transform: scale(40);
  }

  100% {
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
  }
}

@media only screen and (max-width: 600px) {
  .box {
    display: none;
  }
}
